body {
    background-color: black;
    color: #D4AB6A;
}

h1 {
    text-align: center;
    font-family: 'Poiret One', cursive;
    font-weight: bold;
}
.square {
    text-align: center;
    font-size: 5em;
    border: 2px solid #805615;
    cursor: pointer;
}

#message {
    font-family: 'Poiret One', cursive;
    font-size: 3em;
}

#message, #buttons {
    text-align: center;
}

.modal-title, .modal-body {
    color: #2c2c2c;
    text-align: center;
}

.modal-body button {
    color: #D4AB6A;
    font-size: 10em;
    width: 1.5em;
}
