{
  "extends": [
    "eslint:recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:react/recommended"
  ],
  "plugins": [
    "react",
    "jsx-a11y"
  ],
  "env": {
    "mocha": true,
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "comma-dangle": "off",
    "arrow-parens": "off",
    "no-unused-vars": "warn",
    "no-plusplus": "warn",
    "no-console": "warn",
    "react/prop-types": "warn"
  }
}